@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Momo+Trust+Display&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Momo+Trust+Display&family=Story+Script&family=Unbounded:wght@200..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /* font-size === 10px*/
}

.main__container{
    background-color:red ;
}
/* ----------------------------Styling Landing Page-------------------------------------------*/


#Welcome__heading{
    font-size: 4rem;
    font-family: BBH Bartle;
}

/* styling logo and its button animation */
.add_logo{
    height : 80px;
    width : 80px;
    font-size: 1.6rem;
    color : black;
    border : none;
    background-color: white;
    animation : floating 2s linear infinite;
}

.add_logo:hover{
    color : white;
    background-color: black;
}

@keyframes floating {
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(4px);
    }
    100%{
        transform: translateY(-1px);
    }
}

/** styling clcik here message */
.start_msg{
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
}

.edit{
    color : white
}

/*---adding Media Quiries---*/
@media (max-width : 62.25rem){
    #Welcome__heading{
        font-size: 3.5rem;
    }
}

@media (max-width : 53.125rem){
    #Welcome__heading{
        font-size: 3rem;
    }
    .break-text{
        text-align: center;
    }
    .start_msg{
        font-size: 1.8rem;
    }
}

@media (max-width : 45rem){
    #Welcome__heading{
        font-size: 2.5rem;
    }
}

@media (max-width : 37.1825rem){
    #Welcome__heading{
        font-size: 1.9rem;
    }
    .add_logo{
        height: 50px;
        width : 50px
    }

}

@media (max-width : 28.4375rem){
    #Welcome__heading{
        font-size: 1.3rem;
    }
    .start_msg{
        font-size: 1rem;
    }
}


/*---------------tasks  adding page ---------------------------------*/
.main_page_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.add_container{
    padding: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_container input{
    font-size: 3rem;
}
.add_task_msg{
    font-size: 5rem;
    text-align: center;
    font-family: BBH Bartle;
}

.add_task_btn{
    padding: 1rem 3rem;
    margin : 2rem;
    border-radius: 1rem;
    font-size: 2rem;
}

/** buttons section --*/

.tabs_container{
    display: flex;
}

.tab{
    margin : 0px 10rem
}

.tasks_btn{
    padding : 2rem 6rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Unbounded;

}
/*--adding media quiried */

@media (max-width : 70.9375rem){
    .add_task_msg{
        font-size: 4rem;
    }
    .add_container{
        padding : 18rem
    }

}

@media (max-width : 62.5rem){
    .add_task_msg{
        font-size: 3rem;
    }
    
    .tab{
        margin : 0 1rem
    }

}

@media (max-width : 42.4rem){
    .main_page_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding : 3rem;
    }
    
    .add_container{
        padding : 10rem;
    }
    
    .add_task_msg{
        font-size: 2rem;
    }

    .tasks_btn{
        padding : 1rem 3rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        font-family: Unbounded;

    }
}

@media (max-width : 31.25rem){
    .main_page_container{
        padding: 2rem;
    }
    html{
        font-size: 50%;
    }
    .tasks_btn{
        padding : 0.rem 1.5rem;
        font-size: 2rem;
    }
}

@media (max-width : 23.75rem){
    .main_page_container{
        padding: 0;
        justify-content: center;
    }
    .html{
        font-size: 40%;
    }
    .tab{
        margin : 1rem
    }

}

/*-----------Your Tasks page ----------------*/
.yourTasks_container{
    margin : 10px auto;
    background-color: blanchedalmond;
    width : 100rem;
    border : 2px solid black;
    border-radius: 10px; 
    position: relative;
}

.yourTasks{
    text-align: center;
    font-family: BBH Bartle;
    text-decoration: underline;
}

.task-style{
    font-size: 2rem;
    border-bottom: 1px solid grey ;
}

.arrow-right{
    position: absolute;
    top : 20px;
    right : 20px;
    width : 5rem;
    height: 5rem;
    color : black;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    border : 2px solid black;

}

.arrow-right:hover{
    color : white;
    background-color: black;
    border : 2px solid black;
}

@media (max-width : 70.375rem){
    .yourTasks_container{
        width : 70rem
    }
}

@media (max-width : 52.75rem){
    .arrow-right{
        display: none;
    }
}

/*-------delete page--------*/
.delete_container{
    position: relative;
    background-color: red;
    font-family: BBH Bartle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;

}


.del_btn{
    margin : 1rem
}

.icon{
    align-self: flex-start;
    position: absolute;
    top : 40px;
    left : 40px;
    font-size: 3rem;
    border : 2px solid black;
    width : 5rem;
    height: 5rem;
    color : black;
    border-radius: 50%;
    text-align: center;
}

#deleteNum{
    font-size: 3rem;
}

.icon:hover{
    color : white;
    background-color: black;
    border : 2px solid white
}

@media (max-width : 57.25rem){
    .del_heading{
        font-size: 1.5rem;
    }
    #deleteNum{
        font-size: 2rem;
    }
}

@media (max-width : 37rem){
    .del_heading{
        font-size: 2rem;
    }
    #deleteNum{
        font-size: 1.5rem;
    }
    .delete_container{
        justify-content: space-evenly;
    }
}














